.App {
  text-align: center;
}

.app {
  text-align: center;
  margin: 3%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.card-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 2%;
  background-color: bisque;
  background-size: contain;
  background-position: 0;
  background-clip: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  list-style: none;
  width: 200px;
  height: 300px;
}
